.cartMain{
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100vw;
}

.mainContentCart{
    width: 75%;
    height: 75vh;
    display: flex !important;
    align-items: center;
    flex-direction: column;
}

.cartItems{
    min-height: 100%;
}

.cartProduct{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.cartContent{
    width: 35%;
    height: 100%;
    display: flex;
    text-align: center;
    //align-items: center;
}

.imageContainerCart{
    height: 100%;
    width: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartItemImg{
    max-height: 100%;
    max-width: 100%;
    object-fit: scale-down;
}

.cartItemTitle{
    font-family: 'Poppins';
}