.productMain{
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 33vh;
}
.imageContainerProduct{
    width: 100%;
    min-height: 65%;
    max-height: 65%;
    overflow: hidden;
}
.productImage{
    // width: 100%;
    // height: 100%;
    // max-width: 100%;
    max-height: 100%;
    // object-fit: scale-down;
}
.productTitle{
    width: 100%;
    height: 20%;
    font-size: 1em;
}
.productText{
    width: 100%;
    height: 10%;
    font-size: .75em;
}