.productMain{
    color: black;
    width: 30%;
    height: auto;
    max-height: 30vw;
    margin: 20% 15px 20% 15px;
}
.productImage{
    height: 90%;
    width: auto;
    max-width: 100%;
}
.productTitle{
    width: 100%;
    height: 20%;
}
.productText{
    
}