.productPage{
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100vw;
}

.mainContentProductPage{
    width: 75%;
    height: 100vh;
    display: flex !important;
    align-items: center;
    flex-direction: column;
}

.productPageDivider{
    width: 75%;
}
.productPageImage{
    height: 45%;
}

.productPageTitle{
    font-size: 2rem;
    text-align: center;
    font-family: 'Poppins';
}

.productPageDescription{
    margin-top: 2%;
    font-family: 'Raleway';
}

@media (max-width: 767px){
    .productPage{
        min-width: 100%;
    }
}