.productMain{
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 33vh;
}
.imageContainerProduct{
    width: 100%;
    height: 65%;
    max-height: 65%;
}
.productImage{
    width: 100%;
    height: auto;
    flex: 1;
}
.productTitle{
    width: 100%;
    height: 20%;
    font-size: 1em;
}
.productText{
    width: 100%;
    height: 10%;
    font-size: .75em;
}