.sideBarMain{

}

.topBarMain{
    display: flex;
    align-items: center;
}

.sideBarObj{
    -webkit-box-shadow: 4px 0px 14px -2px rgba(0,0,0,0.58) !important;
    -moz-box-shadow: 4px 0px 14px -2px rgba(0,0,0,0.58) !important;
    box-shadow: 4px 0px 14px -2px rgba(0,0,0,0.58) !important;
}